<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../static/js/script.js"></script>

    <title>Document</title>
</head>
<body>
    <label>Ingrese el codigo o la ciudad</label><br><br>
    <input type="text" size=10  id="input"><br><br>
    <button onclick="getData(1)">Buscar por codigo</button>
    <button onclick="getData(2)">Buscar por ciudad</button>
    <div id="data"></div>
</body>
</html>